<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.alpha.board.mapper.BoardMapper">

    <!-- 게시판 목록 조회 -->
    <select id="selectBoardList" parameterType="BoardModel" resultType="BoardModel">
        /* BoardMapper.selectBoardList */
        SELECT BOARD_SEQ
			 , CONTENT
			 , TITLE
			 , REGNAME
			 , REGDATE
		  FROM GRS_BOARD
    </select>

</mapper>